html{
	background-color: #eee;
	height: 100%;
	width: 100%;
}

body{
	background-color: #eee;
	height: 100%;
	width: 100%;
	margin: 0px;
}

*{
	font-family: Proxima Nova Regular, Helvetica, Arial, sans-serif;
}

a, a:visited, a:active {
  color: #0B2247;
  text-decoration: none;
  text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/********** BEGIN HEADER ************/
/********** BEGIN HEADER ************/
header{
	border: 1px solid black;
	height: 50px;
	background-color: #0B2247;
	width: 100%;
}

#aheadstyle{
	color: white;
}

#headername{
	font-family: Arial;
	float: left;
	color: white;      
	font-size: 30px;   
	font-weight: bold;   
	/*letter-spacing: -.05em;*/
	text-shadow: -1px -1px #000;   
	text-transform: uppercase;
	left: 7%;
/*	margin-right: 95px;*/
	margin-top: 9px;
	position: absolute;
}

#social{
	position: absolute;
	width: 23%; 
	margin-top: 9px;
	letter-spacing: 3px;
	margin-left: 73%;
}
/********** END HEADER ************/
/********** END HEADER ************/

#content{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px;
	top: 3%;
}

/********** BEGIN SIDE BAR ************/
/********** BEGIN SIDE BAR ************/
#sidebar{
	position: relative;
	right: 2%;
	top: 5%;
	width: 25%;
	height: 200%;
	display: inline-block;
	float: right
}

#photobox {
    position: relative;   
    width: 85%;  
    font-size: 20px;   
    background-color: #eee;   
    color: #555;
    text-transform: uppercase;
    top: 0;
}

#photoboxavatar{
	border-radius: 5px;
}

#biobox{
	position: relative;
	width: 85%;
	font-size: 18px;
	background-color: #eee;
	color: #555;
	margin-top: 2%;
}

#sitenav{
	position: relative;
	width: 85%;
	height: 4%;
	width: 90%;
	font-size: 16px;
	background-color: #eee;
	color: #555;
}

#sitenavlist{
	position: relative;
	font-size: 20px;
	font-size: 20px;
	background-color: #eee;
	color: #555;
	list-style-type: none;
	display: inline-flex;
	margin-left: -12%
}

.sitenav_li{
	margin-right: 15px; 
}

#recenttweets{
	position: relative;      
	width: 85%; 
	font-size: 16px;
	background-color: #eee;
	color: #555;
	border: 1px solid #BDBCB9;
	border-radius: 5px;
}

#soundcloud{
	position: relative;      
	width: 85%;    
	font-size: 16px;
	background-color: #eee;
	margin-top: 50px;   
	color: #555;
	border: 1px solid #BDBCB9;
	border-radius: 5px;
	margin-top: 3%;
}
/********** END SIDE BAR ************/
/********** END SIDE BAR ************/



/********** BEGIN BLOG POST ************/
/********** BEGIN BLOG POST ************/
#mainbox{
	border: 1px solid #BDBCB9;
	position: relative;
	top: 5%;
	left:  7%;
	width: 60%;
	padding: 30px;
	padding-bottom: 0px;
	background-color: white;
	color:  #555;
	border-radius: 5px;
	margin-bottom: 3%;
	display: inline-block;
}

#subject{

	position: absolute;
	top: 10px;
	left: -7.5%;
	width: 80px;
	background-color: #0B2247;
	color: white;
	font-size: 17;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	opacity: 0.9;
}

.blogtitle{
	position: relative;
	font-size: 20px;
	color: #ff6100;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	margin: 0px;
}

.blogimg{
	position: relative;
	margin: 0px auto;
	display:block;
	border: 1px solid #BDBCB9;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}


.blogbody{
	position: relative;
}

.blogpost{
	position: relative;
	font-size: 20px;
	color: #555;
}
/********** END BLOG POST ************/
/********** END BLOG POST ************/



/********** BEGIN FORMATTING ************/
/********** BEGIN FORMATTING ************/
.ul{
	list-style-type:none;
	width: 85%;
}

.li{
	margin-top: 25px;
}

.italics{
	font-style: italic;
}

.bold{
	font-weight: bold;
}

.link{
	font-weight: bold;
}
/********** END FORMATTING ************/
/********** END FORMATTING ************/

footer{
/*	border: 1px solid #BDBCB9;
	position: fixed;
	bottom: 0px;
	height: 3%;
	width: 100%;*/
/*	background-color: #0B2247; */  
}