html{
	height: 98%;
	width: 98%;
	background-color: lightgrey;
	/*border: 2px solid blue;*/
}

body{
	position: relative;
	color:red;
	height: 100%;
	width: 100%;
	background-color: lightgrey;
	/*border: 2px solid green;*/
}

#header{
	position: relative;
	color: black;
	border: 2px solid grey;
	width: 95.5%;
	border-radius: 5px;
	padding: 2%;
	background-color: white;
	font-family: arial;
}

#content {
	position: relative;
	color: black;
	width: 95%;
	background-color: lightgrey;
	padding: 2%;
	font-family: arial;
	font-size: 16px;
/*	border: 2px solid red;*/
}

.code p{
	font-family: courier;
	font-size: 16px;
	text-indent: 5%;
}

.code {
	position: relative;
	background-color: lightgrey;
	width: 50%;
	left: 5%;
	border-radius: 2px;
	border: 1px solid grey;
	padding-bottom: 10px;
}

.title{
	text-indent: 5%;
	margin-bottom: 0px;
	font-size: 16px;
	color: grey;
}

.answer{
	color: grey;
	font-weight: bold;
}

.mainbox {
	border: 2px solid grey;
	position: relative;
	margin-top:3%;
	color: black;
	padding: 2%;
	border-radius: 5px;
	background-color: white;
}

.italics{
	font-style: italic;
}
	}
}
